body, html{
    background-color:blueviolet;
    align-items: center;
    text-align: center;
}
.caixa1{background-position: center;
background-size: cover;
width: 100%;
height: 500px;
}
.caixa2{
    font-family: 'MonteCarlo', cursive;
    background-color:blueviolet;
}
.caixa3{

  width:auto ;
    height: 450px;

}
